<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
 <!-- ****** Footer Social Icon Area Start ****** -->
 	<div class="breadcumb-area" style="background-image: url(../img/bg-img/breadcumb.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="bradcumb-title text-center">
                        <h2>캠핑 리스트</h2>
                    </div>
                </div>
            </div>
        </div>
 	</div>
    
     <!-- ****** Breadcumb Area End ****** -->

     <!-- ****** Archive Area Start ****** -->
     <section class="archive-area section_padding_80" id="listApp">
         <div class="container">
             <div class="row">
				
                <div class="col-12 col-md-6 col-lg-4"  th:each="camp : ${list}">
                    <div class="single-post wow fadeInUp" data-wow-delay="0.1s">
                        <!-- Post Thumb -->
                        <div class="post-thumb">
                       		  <a th:href="@{'/camp/detail/' + ${camp.cno}}">
                            <img th:src="${camp.poster}">
                              </a>
                        </div>
                        <!-- Post Content -->
                        <div class="post-content">
                            <div class="post-meta d-flex">
                                <div class="post-author-date-area d-flex">
                                    <!-- Post Author -->
                                    
                                </div>
                            </div>
                            <a th:href="@{'/camp/detail/' + ${camp.cno}}">
                                <h4 th:text="${camp.title}" class="post-headline"></h4> 
                            </a>
							<div class="">
                                <h5 href="#">가격: [[${camp.price}]] 원</h5>
                            </div>
                        </div>
                    </div>
				  </div>
				  
				  <div class="col-12 text-center" style="margin-top: 30px;">
				      <ul class="pagination justify-content-center">
				          <!-- 이전 버튼 -->
				          <li th:if="${startPage > 1}" class="page-item">
				              <a class="page-link" th:href="@{/camp/list(page=${startPage - 1})}">&laquo;</a>
				          </li>

				          <!-- 페이지 번호 반복 -->
				          <li th:each="i : ${#numbers.sequence(startPage, endPage)}"
				              th:class="'page-item ' + (${curpage} == ${i} ? 'active' : '')">
				              <a class="page-link" th:href="@{/camp/list(page=${i})}">[[${i}]]</a>
				          </li>

				          <!-- 다음 버튼 -->
				          <li th:if="${endPage < totalpage}" class="page-item">
				              <a class="page-link" th:href="@{/camp/list(page=${endPage + 1})}">&raquo;</a>
				          </li>
				      </ul>
				  </div>
							  
             </div>
		 </div>
	</section>
</body>
</html>