<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>캠핑장 검색</title>
</head>
<body>
    <div class="breadcumb-area" style="background-image: url(../img/bg-img/breadcumb.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="bradcumb-title text-center">
                        <h2>캠핑장 검색</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="margin-top:30px; text-align:center;">
        <form method="get" th:action="@{/camp/find}">
            <input type="text" name="keyword" th:value="${keyword}" placeholder="캠핑장명을 입력하세요" style="padding: 5px 10px; width: 300px;">
            <button type="submit" style="padding: 5px 15px;">검색</button>
        </form>
    </div>

    <section class="archive-area section_padding_80" id="listApp">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4" th:each="camp : ${list}">
                    <div class="single-post wow fadeInUp" data-wow-delay="0.1s">
                        <div class="post-thumb">
                            <a th:href="@{'/camp/detail/' + ${camp.cno}}">
                                <img th:src="${camp.poster}" style="width: 350px; height: 230px;">
                            </a>
                        </div>
                        <div class="post-content">
                            <a th:href="@{'/camp/detail/' + ${camp.cno}}">
                                <h4 th:text="${camp.title}" class="post-headline"></h4> 
                            </a>
                            <div>
                                <h5>가격: [[${camp.price}]] 원</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 text-center" style="margin-top: 30px;">
                    <ul class="pagination justify-content-center">

                        <li th:if="${startPage > 1}" class="page-item">
                            <a class="page-link" th:href="@{/camp/find(page=${startPage - 1}, keyword=${keyword})}">&laquo;</a>
                        </li>

                        <li th:each="i : ${#numbers.sequence(startPage, endPage)}"
                            th:class="'page-item ' + (${curpage} == ${i} ? 'active' : '')">
                            <a class="page-link" th:href="@{/camp/find(page=${i}, keyword=${keyword})}">[[${i}]]</a>
                        </li>

                        <li th:if="${endPage < totalpage}" class="page-item">
                            <a class="page-link" th:href="@{/camp/find(page=${endPage + 1}, keyword=${keyword})}">&raquo;</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
